.display {
    margin: 2% 2% 2% 2%;
}

.header-title {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 30px;
    margin-top: 15px;
}

.col-sm-12 {
    width: 100%;
}

.card {
    height: 450px;
    width: 100%;
    border: 2px solid;
}

.card-header {
    background-color: #f2f2f2;
    padding: 2px 16px;
    text-align: center;
}

.header-title {
    font-weight: bold;
}

.card-body {
    display: grid;
    grid-template-columns: auto auto;
}

.card-body-split {
    padding: 2px 16px;
    text-align: left;
}

.card-body-split2 {
    padding: 2px 16px;
    text-align: left;
}

.card-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.text-title {
    font-weight: bold;
    font-size: 20px;
}
.text-show {
    font-size: 15px;
}

.split2 {
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .card-body {
        grid-template-columns: auto;
    }

    .card-body-split2 {
        padding: 2px 4px;
    }

    .card-text {
        font-size: 12px;
    }
}
