/* Add a background color to the form container */
.reportForm {
    background-color: #f2f2f2;
    padding: 20px;
}

    /* Add a background color to the form header */
    .reportForm h1 {
        color: black;
        padding: 10px;
    }

/* Add a background color to the form items */
.grid-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Add some spacing between form items */
.grid-container {
    display: grid;
    grid-gap: 10px;
}

/* Add responsive styling for small screens */
@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Add some basic styling to the form inputs */
input[type=text], input[type=email], input[type=date], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* Add some basic styling to the form button */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* Add hover effect to the form button */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Add basic styling to the form dropdown */
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* Add basic styling to the form checkboxes */
input[type=checkbox] {
    margin: 8px 0;
}

#grid-item2 {
    display: grid;
    grid-template-columns: auto 0 auto 0;
    gap: 15px;
}

#grid-item3 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 125px;
}

#span-disclaimer {
    color: red;
    font-size: smaller;
}

.validation-error {
    color: darkblue;
}
